*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(192, 183, 169);
}

body {
  background: rgb(15, 15, 15);
}

.add-book-button {
  position: absolute;
  /* align the modal container to center of the page */
  top: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* MODAL POP UP*/

.modal {
  position: fixed;
  top: 53%;
  left: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.modal--hidden {
  display: none;
}

/* model content styling */
.modal__contents {
  background: rgba(39, 42, 43, 0.993);
  padding: 2rem 4rem;
  border-radius: 1rem;
  text-align: center;
}

.modal__close-bar {
  display: flex;
  justify-content: flex-end;
  margin-right: -2rem;
  margin-top: -1rem;
  cursor: pointer;
}

.sub-button {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.input-field {
  width: 100%;
  transition: all 0.3s ease;
  color: rgb(192, 183, 169);
  font-size: 1.9rem;
}

/* BOOK DESIGN */

#bookShelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book {
  line-height: 3rem;
  font-size: 1.5rem;
  
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;

  height: 300px;
  width: 200px;
  padding: 15px;
  margin: 20px;

  border-radius: 25px;
  background: rgba(39, 42, 43, 0.993);
  box-shadow: 1px 1px 1px 1px rgba(107, 104, 104, 0.658);
}

.title{
  font-size: 1.9rem;
  /* font-weight: bold; */
}

.author{
  font-size: 1.3rem;
}

.pages{
  font-size: .9rem;
}

#overlay-back {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;

  background: rgb(15, 15, 15);
  opacity: 0.8;
  filter: alpha(opacity=60);
  z-index: 1;
  display: none;
  visibility: visible;
  transition: background-color 1s;
}
  

